<html>
<head>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script>
        $(document).ready(function () {
            var res1;
            $.ajax({
                type:"GET",
                url: "/task",
                cache: false,
                success: function(response) {
                    res1 = response;
                }
            });

            setInterval(function() {
                $.ajax({
                    type:"GET",
                    url: "/task",
                    cache: false,
                    success: function(response) {
                        if(response !== res1) {
                            location.reload();
                        }
                    }
                });
            }, 1000);
        })
    </script>
</head>
<body>
    <div class="container" style="margin-top: 2pc" >
        <form method="post">
            <div class="form-group">
                <input type="text" name="taskBody" placeholder="Enter message" class="form-control"/>
            </div>
            <div>
                <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
            </div>
            <div style="display:inline-block;">
            <button type="submit" class="btn btn-primary">Send</button>
            <form action="/logout" method="post">
                <input type="hidden" name="_csrf" value="{{_csrf.token}}">
                <button type="submit" class="btn btn-danger"> Log out </button>
            </form>
            </div>
        </form>


    </div>
    <div class="container">
        <p>Messages list</p>
        {{#task}}
        <div class="card text-white bg-secondary mb-6" style="max-width: 20rem; position: relative; display: inline-block; margin: 0.4pc">
            <div class="card-header">
                <div style="display: inline-block">


                    <form action="/task/delete/{{id}}" method="post">
                        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
                        <div class="btn-group" role="group" style="float: top;">
                        <button type="button" class="btn btn-primary" onclick="myFunction('{{id}}')">Edit</button>
                        <button type="submit" class="btn btn-primary">Delete</button>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter" onclick="passDataToModal('{{id}}')">
                                Share task
                         </button>
                        </div>
                    </form>
                    <div>
                        <p>Author: {{messageAuthor}}</p>
                    </div>
                </div>



                <!-- Modal -->
                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle" style="color: black">Modal title</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body" style="color: black">
                                <form  method="post" id="shareForm">
                                    Enter user email: <input type="email" name="sharedEmail" class="form-control"/>
                                    <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary" onclick="checkEmailValid('{{id}}')">Save changes</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="card-body{{id}}">
                <p>Task: </p>
                <p class="card-text">{{messageBody}}</p>
            </div>
                <div id="editTaskForm{{id}}" style="display: none">
                    <form action="/task/{{id}}" method="post">
                        <input type="text" name="messageBody" class = "editTask"/>
                        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
                        <button type="submit" class="btn btn-primary" onclick="myFunction('{{id}}')">Enter</button>
                    </form>

                </div>
        </div>
        {{/task}}
        {{#taskType}}
            <p style=""> SHARED TASKS </p>
        {{/taskType}}

        <div class="sharedBody" id="sharedBody">
            {{#sharedTask}}

            <div class="card text-white bg-secondary mb-6" style="max-width: 18rem; position: relative; display: inline-block;">
                <div class="card-header" style=" display: inline-block;">

                        <form action="/task/delete/{{id}}" method="post">
                            <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
                            <div class="btn-group" role="group" style="float: left;">
                                <button class="btn btn-primary" onclick="myFunction('{{id}}')">Edit</button>
                                <button class="btn btn-primary">Delete</button>
                            </div>
                        </form>
                    Author: {{messageAuthor}}
                </div>
                <div class="card-body{{id}}" style="margin: 15px">
                    <p>Task: </p>
                    <p class="card-text">{{messageBody}}</p>
                </div>
                <div id="editTaskForm{{id}}" style="display: none">
                    <form action="/task/{{id}}" method="post">
                        <input type="text" name="messageBody" class = "editTask"/>
                        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
                        <button type="submit" class="btn btn-primary" onclick="myFunction('{{id}}')">Enter</button>
                    </form>

                </div>
        </div>
        {{/sharedTask}}
    </div>

    <script>
        function myFunction(id) {
            if (document.getElementById(`editTaskForm${id}`).style.display === "none") {
                document.getElementById(`editTaskForm${id}`).style.display='block';
                document.getElementById(`card-body${id}`).style.display='none';
            } else {
                document.getElementById(`editTaskForm${id}`).style.display='none';
                document.getElementById(`card-body${id}`).style.display='block';
            }
        }

        function passDataToModal(id) {
            document.getElementById('shareForm').action = `/task/share/${id}`;
        }

    </script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>